.chat-page {
    input {
        width: 100%;
    }
    .header {
        position: sticky;
        top: 0;
        padding: 16px;
        gap: 16px;
        background: #202b32;
        display: flex;

        .avatar {
            background: rgba(255, 255, 255, 0.1);
            min-width: 40px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}

.chat-messages {
    position: relative;
    padding: 24px 24px 74px 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .message {
        position: absolute;
        display: flex;
        width: fit-content;
        padding: 6px 16px 6px 6px;
        text-align: start;
        border-radius: 6px;
        color: rgba(255, 255, 255, 0.6);
    }

    .messages-output {
        right: 48px;
        background: #025545;
    }

    .messages-input {
        left: 48px;
        background: #1f2c33;
    }
}

input {
    height: 42px;
    font-size: .9375rem;
    border-radius: 8px;
    border: none;
    background: #243139;
    padding: 0 12px;
    color: rgba(255, 255, 255, 0.8);
}


.chat-input {
    position: fixed;
    bottom: 0;
    width: calc(100% - 32px);
    padding: 16px;
    gap: 16px;
    background: #202b32;
    display: flex;

    button {
        color: rgba(255, 255, 255, 0.16);
        border: none;
        background: none;
    }
}